page-filter-by {
    .item-md {
        padding-left: 0px !important;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0px solid #dedede !important;
    }
    .item-md ion-avatar img {
        max-width: 8rem;
        max-height: 8rem;
        border-radius: 4rem;
    }
    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .category .label-md {
        text-align: center;
    }
}