--- Xóa 4 bảng CHUCNANG CHUCVU NHANVIEN TAIKHOAN rồi chạy lại lệnh dưới 

USE [QLBH_CuaHangBanMayTinh-LinhKien]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 12/12/2015 10:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MaCN] [nvarchar](10) NOT NULL,
	[cn1] [int] NOT NULL,
 CONSTRAINT [PK_CHUCNANG] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/12/2015 10:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaChucVu] [nvarchar](10) NOT NULL,
	[TenChucVu] [nvarchar](20) NOT NULL,
	[Luong] [nvarchar](50) NOT NULL,
	[MaCN] [nvarchar](10) NOT NULL,
	[DaXoa] [int] NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/12/2015 10:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[NgaySinh] [smalldatetime] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NoiSinh] [nvarchar](50) NOT NULL,
	[Tuoi] [nvarchar](10) NOT NULL,
	[ChucVu] [nvarchar](10) NOT NULL,
	[Luong] [nvarchar](50) NOT NULL,
	[NgayVaoLam] [smalldatetime] NOT NULL,
	[AnhThe] [image] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](16) NOT NULL,
	[MaCN] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHUCVU]  WITH CHECK ADD  CONSTRAINT [FK_CHUCVU_CHUCNANG] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHUCNANG] ([MaCN])
GO
ALTER TABLE [dbo].[CHUCVU] CHECK CONSTRAINT [FK_CHUCVU_CHUCNANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCNANG] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHUCNANG] ([MaCN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCNANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([ChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO







