@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h1>What is SAP Crystal Report?</h1>
    <iframe style="width: 90%; height: 500px;" src="https://www.youtube.com/embed/-C7_73b0I8w" frameborder="0" allowfullscreen></iframe>
</div>