CREATE DATABASE QLyBAO
GO

USE QLyBAO

CREATE TABLE BAO(
	MaB CHAR(4) PRIMARY KEY, 
	TenB NVARCHAR (50), 
	DonGiaTK MONEY)

CREATE TABLE KHACHHANG(
	MaKH CHAR(4) PRIMARY KEY, 
	TenKH NVARCHAR(50), 
	LoaiKH NVARCHAR(30), 
	DienThoai CHAR(15))

CREATE TABLE PHIEUDATBAO(
	MaB CHAR(4) REFERENCES BAO(MaB), 
	MaKH CHAR(4) REFERENCES KHACHHANG (MaKH), 
	NgayDat SMALLDATETIME, 
	SoTo INT, 
	DonGia MONEY, 
	ThanhTien MONEY,
	PRIMARY KEY (MaB, MaKH, NgayDat))


SET DATEFORMAT DMY

INSERT INTO BAO VALUES ('B01', N'Công An', 2300)
INSERT INTO BAO VALUES ('B02', N'Người lao động', 2500)
INSERT INTO BAO VALUES ('B03', N'Thanh niên', 3000)

INSERT INTO KHACHHANG VALUES ('KH01', N'Nguyễn Lê Ân', 'Cá nhân', '098456329')
INSERT INTO KHACHHANG VALUES ('KH02', N'Nguyễn Mai Hoa', 'Cá nhân', '098456459')
INSERT INTO KHACHHANG VALUES ('KH03', N'Lê Tấn Hòa', 'Cá nhân', '098459029')

INSERT INTO PHIEUDATBAO VALUES ('B04', 'KH01', '20/01/2006', 3, 2500, 0)
INSERT INTO PHIEUDATBAO VALUES ('B03', 'KH01', '25/01/2006', 3, 2500, 0)
INSERT INTO PHIEUDATBAO VALUES ('B02', 'KH01', '25/02/2006', 3, 2000, 0)
update phieudatbao set thanhtien=soto*dongia

