USE [master]
GO
/****** Object:  Database [SBA]    Script Date: 17/04/2016 10:46:09 SA ******/
CREATE DATABASE [SBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SBA', FILENAME = N'C:\Users\PHANYBIEN\Desktop\_CNPMCS\Do An\SBA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBA_log', FILENAME = N'C:\Users\PHANYBIEN\Desktop\_CNPMCS\Do An\SBA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [SBA] SET DELAYED_DURABILITY = DISABLED 
--GO
USE [SBA]
GO
/****** Object:  Table [dbo].[BaoHiem]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHiem](
	[IDKhoanBaoHiem] [bigint] NULL,
	[BaoHiemXaHoi] [money] NOT NULL,
	[BaoHiemYTe] [money] NOT NULL,
	[BaoHiemThatNghiep] [money] NOT NULL,
	[KinhPhiCongDoan] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BienBanDienTich]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BienBanDienTich](
	[MABIENBAN] [varchar](10) NOT NULL,
	[DIENTICH_HIENTAI] [varchar](50) NULL,
	[NGAYLAP] [smalldatetime] NULL,
 CONSTRAINT [PK_BIENBAN_DIENTICH] PRIMARY KEY CLUSTERED 
(
	[MABIENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BocXep]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BocXep](
	[MaPhieu] [nchar](10) NOT NULL,
	[MaKho] [nchar](10) NOT NULL,
	[Ngay] [nchar](10) NOT NULL,
	[SoLuong] [nchar](10) NOT NULL,
	[Dongia] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BOCXEP] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[IDChamCong] [bigint] NULL,
	[IDNhanVien] [bigint] NULL,
	[TuanBatDau] [datetime] NULL,
	[GioVaoLam] [datetime] NULL,
	[GioVe] [datetime] NULL,
	[GioNghiTrua] [datetime] NOT NULL,
	[GioKetThucNghiTrua] [datetime] NOT NULL,
	[TongCong] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaCT] [nchar](10) NOT NULL,
	[ChungThu] [nchar](10) NULL,
	[Gia] [money] NULL,
	[DonViTinh] [numeric](18, 0) NULL,
	[SoLuong] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChungThuThamDinhGia]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungThuThamDinhGia](
	[MaCT] [nchar](10) NOT NULL,
	[MaSanPham] [nchar](10) NULL,
	[NgayCap] [smalldatetime] NULL,
	[NgayHetHan] [smalldatetime] NULL,
	[GiaThamDinh] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ChungThuThamDinhGia] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DienNuoc]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienNuoc](
	[MaPhieu] [nvarchar](10) NOT NULL,
	[MaKho] [nvarchar](10) NOT NULL,
	[NgayLapPhieu] [smalldatetime] NOT NULL,
	[ChiSoDienCu] [nchar](10) NULL,
	[ChiSoDienMoi] [nchar](10) NULL,
	[ChiSoNuocCu] [nchar](10) NULL,
	[ChiSoNuocMoi] [nchar](10) NULL,
 CONSTRAINT [PK_DIENNUOC] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DinhGiaSanPham]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhGiaSanPham](
	[MaDinhGia] [nchar](10) NOT NULL,
	[MaSP] [nchar](10) NULL,
	[TongChiPhi] [money] NULL,
	[GiaThamDinh] [money] NULL,
	[GiaTBThiTruong] [money] NULL,
	[GiaSanPham] [money] NULL,
 CONSTRAINT [PK_DinhGiaSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDinhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaHan]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaHan](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[NGAYGIAHAN] [nchar](10) NOT NULL,
	[SONGAY_GIAHAN] [int] NULL,
 CONSTRAINT [PK_GIAHAN] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC,
	[NGAYGIAHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaSp] [nchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[LoaiSP] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [varchar](10) NOT NULL,
	[MAPHIEU_TINHTIEN] [varchar](10) NOT NULL,
	[NGAYHD] [smalldatetime] NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPHIEU_TINHTIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HopDong](
	[MAHOPDONG] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[MANV_KTTS] [varchar](10) NULL,
	[MANV_D1] [varchar](10) NULL,
	[MANV_D2] [varchar](10) NULL,
	[NGAYKY] [smalldatetime] NULL,
	[NGAYHETHAN] [smalldatetime] NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KeHoach]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoach](
	[IDKeHoach] [bigint] NULL,
	[IDDonViTiepNhanKeHoach] [bigint] NULL,
	[IDKhoanMuc] [bigint] NULL,
	[TenKeHoach] [nvarchar](255) NULL,
	[KhoanMuc] [nvarchar](255) NULL,
	[DonViTiepNhanKeHoach] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NOT NULL,
	[TongChiPhi] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[LOAIKH] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [varchar](10) NOT NULL,
	[MANQL] [varchar](10) NULL,
	[TENKHO] [nvarchar](50) NULL,
	[DIADIEM] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiDichVuCongThem]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVuCongThem](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIDVCONGTHEM] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CMND] [varchar](15) NULL,
	[CHUCVU] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanCongPYC]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanCongPYC](
	[MAPYC] [varchar](10) NOT NULL,
	[MANGS] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPYC] ASC,
	[MANGS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanTichGia]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanTichGia](
	[MaPT] [nchar](10) NOT NULL,
	[MaSP] [nchar](10) NULL,
	[TenSanPham] [varchar](50) NULL,
	[PhiVatLieu] [money] NULL,
	[PhiLaoDong] [money] NULL,
	[PhiMayMoc] [money] NULL,
	[PhiKhac] [money] NULL,
 CONSTRAINT [PK_PhanTichGia] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuGiaoKho]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiaoKho](
	[IDPhieuGiaoKho] [bigint] NOT NULL,
	[IDKhachHang] [bigint] NOT NULL,
	[IDOKho] [bigint] NOT NULL,
	[ChiSoDienNuoc] [bigint] NOT NULL,
	[IDDichVuKhac] [bigint] NOT NULL,
	[ChiPhiPhatSinh] [money] NULL,
 CONSTRAINT [PK_PhieuGiaoKho] PRIMARY KEY CLUSTERED 
(
	[IDPhieuGiaoKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[MAPHIEU_NHAP] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[MATHUKHO] [varchar](10) NULL,
	[MADV_BOCXEP] [nchar](10) NULL,
	[MADV_DIENNUOC] [nchar](10) NULL,
	[MABIENBAN] [varchar](10) NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[DIENTICHTHUE] [varchar](50) NULL,
 CONSTRAINT [PK_PHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU_NHAP] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuThanhToan]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhToan](
	[IDPhieuThanhToang] [bigint] NOT NULL,
	[IDKhachHang] [bigint] NOT NULL,
	[IDOKho] [bigint] NOT NULL,
	[ChiSoDienNuoc] [bigint] NOT NULL,
	[IDDichVuKhac] [bigint] NULL,
	[ChiPhiPhatSinh] [bigint] NULL,
	[IDNhanVienTongHop] [bigint] NOT NULL,
	[TongPhieuThanhToan] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuXuatKho]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuXuatKho](
	[MAPHIEU_XUAT] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[MATHUKHO] [varchar](10) NULL,
	[MADV_BOCXEP] [nchar](10) NULL,
	[MADV_DIENNUOC] [nchar](10) NULL,
	[NGAYLAP] [smalldatetime] NULL,
 CONSTRAINT [PK_PHIEUXUATKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU_XUAT] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuYeuCau]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuYeuCau](
	[MAPYC] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[MAKHO] [varchar](10) NULL,
	[LOAIHANG] [varchar](20) NULL,
	[TGBATDAU] [smalldatetime] NULL,
	[TGKETTHUC] [smalldatetime] NULL,
	[MUCPHI] [float] NULL,
	[TINHTRANG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuanLyTSCD/CCLD]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyTSCD/CCLD](
	[IDTaiSan] [bigint] NULL,
	[IDDoViSuDung] [bigint] NULL,
	[TenTaiSan] [nvarchar](50) NULL,
	[TenDonViSuDung] [nvarchar](50) NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[TinhTrang] [nchar](10) NOT NULL,
	[NgayMua] [datetime] NOT NULL,
	[NgayNhap] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SuaChuaTaiSanCoDinh]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuaChuaTaiSanCoDinh](
	[IDSuaChua] [bigint] NOT NULL,
	[IDTaiSanCoDinh] [bigint] NOT NULL,
	[IDDonVi] [bigint] NOT NULL,
	[IDKeHoach] [bigint] NULL,
	[ChiPhiDuyet] [money] NULL,
	[ChiPhiThucTe] [money] NULL,
	[NgayDuyet] [datetime] NULL,
	[NgaySuaChua] [datetime] NOT NULL,
	[TinhTrangDuyet] [int] NOT NULL,
 CONSTRAINT [PK_SuaChuaTaiSanCoDinh] PRIMARY KEY CLUSTERED 
(
	[IDSuaChua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 17/04/2016 10:46:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaPhieu] [nvarchar](10) NOT NULL,
	[MaKho] [nvarchar](10) NOT NULL,
	[Ngay] [smalldatetime] NOT NULL,
	[TenThietBi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_ChungThuThamDinhGia] FOREIGN KEY([ChungThu])
REFERENCES [dbo].[ChungThuThamDinhGia] ([MaCT])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_ChungThuThamDinhGia]
GO
ALTER TABLE [dbo].[ChungThuThamDinhGia]  WITH CHECK ADD  CONSTRAINT [FK_ChungThuThamDinhGia_HangHoa] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[HangHoa] ([MaSp])
GO
ALTER TABLE [dbo].[ChungThuThamDinhGia] CHECK CONSTRAINT [FK_ChungThuThamDinhGia_HangHoa]
GO
ALTER TABLE [dbo].[DinhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DinhGiaSanPham_HangHoa] FOREIGN KEY([MaSP])
REFERENCES [dbo].[HangHoa] ([MaSp])
GO
ALTER TABLE [dbo].[DinhGiaSanPham] CHECK CONSTRAINT [FK_DinhGiaSanPham_HangHoa]
GO
ALTER TABLE [dbo].[GiaHan]  WITH CHECK ADD  CONSTRAINT [FK_GIAHAN_HOPDONG] FOREIGN KEY([MAHOPDONG])
REFERENCES [dbo].[HopDong] ([MAHOPDONG])
GO
ALTER TABLE [dbo].[GiaHan] CHECK CONSTRAINT [FK_GIAHAN_HOPDONG]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN] FOREIGN KEY([MANV_KTTS])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN1] FOREIGN KEY([MANV_D1])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN1]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN2] FOREIGN KEY([MANV_D2])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN2]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD FOREIGN KEY([MANQL])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhanCongPYC]  WITH CHECK ADD FOREIGN KEY([MANGS])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhanCongPYC]  WITH CHECK ADD FOREIGN KEY([MAPYC])
REFERENCES [dbo].[PhieuYeuCau] ([MAPYC])
GO
ALTER TABLE [dbo].[PhanTichGia]  WITH CHECK ADD  CONSTRAINT [FK_PhanTichGia_HangHoa] FOREIGN KEY([MaSP])
REFERENCES [dbo].[HangHoa] ([MaSp])
GO
ALTER TABLE [dbo].[PhanTichGia] CHECK CONSTRAINT [FK_PhanTichGia_HangHoa]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_BIENBAN_DIENTICH] FOREIGN KEY([MABIENBAN])
REFERENCES [dbo].[BienBanDienTich] ([MABIENBAN])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_BIENBAN_DIENTICH]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_KHACHHANG]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN] FOREIGN KEY([MATHUKHO])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_KHACHHANG1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PHIEUXUATKHO_KHACHHANG1]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN] FOREIGN KEY([MATHUKHO])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PhieuYeuCau]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
GO
ALTER TABLE [dbo].[PhieuYeuCau]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
USE [master]
GO
